<div class="mx-auto flex justify-center">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScr60rwlTZUraG0DhKRWEma1x7536HVRneUz3d4e2ALUeeoSA/viewform?embedded=true" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>