<div class="container mx-auto px-4 py-8">
  <h1 style="color: #073472;" class="text-2xl font-bold text-center mb-8">プライバシーポリシー</h1>

  <div class="card bg-base-100 shadow-xl p-6">
    <p class="mb-6">ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">お客様から取得する情報</h2>
      <p class="pl-4">当サイトでは、お客様から以下の情報を取得します。</p>
      <ul style="list-style-type: disc; padding-left: 2rem;">
        <li class="mb-1">氏名(ニックネームやペンネームも含む)</li>
        <li class="mb-1">メールアドレス</li>
        <li class="mb-1">外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li class="mb-1">Cookie(クッキー)を用いて生成された識別情報</li>
        <li class="mb-1">OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
        <li class="mb-1">当サイトの滞在時間、入力履歴等の当サイトにおけるお客様の行動履歴</li>
        <li class="mb-1">当サイトの起動時間、入力履歴、購買履歴等の当アプリの利用履歴</li>
      </ul>      
    </div>

    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">個人情報の利用目的</h2>
      <p class="pl-4">当サイトでは、お問い合わせや記事へのコメントの際、名前やメールアドレスなどの個人情報を入力いただく場合がございます。取得した個人情報は、お問い合わせに対する回答や必要な情報をメールなどでご連絡する場合や当サービスの提供・運営、ご自身の登録情報の閲覧や変更、削除などのために利用させていただくものであり、これらの目的以外では利用いたしません。</p>
    </div>

    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">利用目的の変更</h2>
      <p class="pl-4">当サイトは、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。
      利用目的の変更を行った場合には、変更後の目的について、当社所定の方法により、ユーザーに通知し、または当サイト上に公表するものとします。</p>
    </div>

    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">個人情報の第三者提供</h2>
      <p class="pl-4">当サイトは、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
    </div>
  
    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">アクセス解析ツール</h2>
      <p class="pl-4">当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。
      この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細はGoogleアナリティクスサービス利用規約のページやGoogleポリシーと規約ページをご覧ください。</p>
    </div>

    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">プライバシーポリシーの変更</h2>
      <p class="pl-4">本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。当サイトが別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</p>
    </div>
    
    <div class="mb-6">
      <h2 style="color: #073472;" class="text-xl font-bold mb-3">お問い合わせ窓口</h2>
      <p class="pl-4">本ポリシーに関するお問い合わせや、お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<%= link_to "お問い合わせフォーム", inquiry_form_path, style: "color: #4981CF;" %>よりご連絡ください。</p>
    </div>
  </div>
</div>
