<div class="min-h-[calc(100vh-8rem)] container mx-auto px-4 py-8">
  <div class="text-center max-w-4xl mx-auto">
    <div class="mb-8">
      <%= image_tag "346b73ecd76ad3608a6b67470d7b86dd.jpg", alt: "桜の風景", class: "w-full rounded-lg shadow-lg" %>
    </div>
    <h2 style="color: #073472;" class="text-2xl font-semibold mb-4">
     思い出の<span style="color: #DD7594;">桜</span>写真で大切な人に<span style="color: #DD7594;">感謝</span>を伝えよう
    </h2>
    <!-- アプリの使い方ボタンを追加 -->
    <div class="mb-8">
    <%= link_to "アプリの使い方", "#", class: "btn custom-text border-none hover:opacity-80", style: "background-color: #4981CF;" %>
    </div>
  
    <div class="flex justify-center gap-8 mt-8">
    <%= link_to "投稿を見る", "#", class: "btn custom-text border-none hover:opacity-80", style: "background-color: #DD7594;" %>
    <%= link_to "投稿する", "#", class: "btn custom-text border-none hover:opacity-80", style: "background-color: #DD7594;" %>
  </div>
  </div>
</div>
