<div class="min-h-screen bg-base-100">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-center mb-8" style="color: #073472;">パスワードリセット申請</h1>

  <%= form_with url: password_resets_path, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :email, 'メールアドレス', class: 'block mb-2' %>
      <%= f.email_field :email, class: 'w-full p-2 border rounded' %>
    </div>

    <%= f.submit '送信', class: 'bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600' %>
  <% end %>
</div>
