<div class="flex items-center gap-4">
  <%= form_with model: [post, comment], class: "flex-1", local: true do |f| %>
    <div class="flex items-center gap-4">
      <%= f.text_area :body, 
          class: "w-full px-3 py-2 border rounded-lg", 
          placeholder: "コメントを入力" %>
      <%= f.submit "コメント追加", 
          class: "btn custom-text border-none hover:opacity-80",
          style: "background-color: #DD7594;" %>
    </div>
  <% end %>
</div>
