<footer style="background-color: rgb(137, 170, 211)" class="py-4">
  <div class="container mx-auto px-4">
    <div class="flex justify-center space-x-8">
      <%= link_to "プライバシーポリシー", "#", class: "text-white hover:opacity-80" %>
      <%= link_to "利用規約", "#", class: "text-white hover:opacity-80" %>
      <%= link_to "お問い合わせ", "#", class: "text-white hover:opacity-80" %>
    </div>
    <div class="text-center text-white mt-4">
      <p>© <%= Time.current.year %> Sakura Thanks - All rights reserved</p>
    </div>
  </div>
</footer>
