<header style="background-color: #89AAD3">
  <div class="container mx-auto px-4">
    <div class="navbar min-h-16">
      <div class="flex-1">
        <%= link_to root_path, class: "custom-text text-xl font-semibold" do %>
          Sakura Thanks
        <% end %>
      </div>
      <div class="flex-none gap-4">
        <%= link_to "一覧ページ", "#", class: "custom-text hover:opacity-80" %>
        <%= link_to "ログイン", "#", class: "custom-text hover:opacity-80" %>
        <%= link_to "新規登録", "#", class: "custom-text hover:opacity-80" %>
      </div>
    </div>
  </div>
</header>
