@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-text {
    color: #FFFFFF !important;
  }
  /* テキストオーバーレイの共通スタイル */
  .overlay-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'YOMOGI', sans-serif;
    -webkit-text-stroke: 1px #000; /* テキストの輪郭を追加 */
  }
  
  /* 編集中のテキストの追加スタイル */
  .overlay-text.editing {
    outline: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
}

/* app/assets/stylesheets/application.tailwind.css */
@font-face {
  font-family: 'YOMOGI';
  src: url('../fonts/YOMOGI-Regular.ttf') format('truetype');
}
