@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-text {
    color: #FFFFFF !important;
  }
}

/* app/assets/stylesheets/application.tailwind.css */
@font-face {
  font-family: 'YOMOGI';
  src: url('../fonts/YOMOGI-Regular.ttf') format('truetype');
}
