<div id="bookmark_btn_<%= post.id %>">
  <% if current_user&.bookmark?(post) %>
    <%= button_to bookmark_path(current_user.bookmarks.find_by(post_id: post.id)), 
                 method: :delete,
                 class: "bookmark-btn",
                 data: { turbo_method: :delete, turbo_stream: true } do %>
                  <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= button_to bookmarks_path(post_id: post.id), 
                 class: "bookmark-btn",
                 data: { turbo_stream: true } do %>
                  <i class="far fa-heart"></i>
    <% end %>
  <% end %>
</div>
